html, body
{
    height: 350px;
    width: 350px;
}

body
{
    background-color: black;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    overflow: hidden;
    animation-name: fadein;
    animation-duration: 0.7s;
}

.grid-container
{
    display: grid;
    align-items: center;
    grid-template-columns: 82px 82px 82px;
    grid-template-rows: 82px 82px 82px;
    grid-gap: 2px 2px;
    height: 250px;
    width: 250px;
    margin: auto;
    background-color: black;
    border-radius: 5px;
}
.grid-item
{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
}

header
{
    color: white;
    font-size: 25px;
    width: 250px;
    margin: auto;
}
.game-info
{
    display: grid;
    grid-template-columns: 82px 82px 82px;
    grid-template-rows: 25px 25px;
    height: 50px;
    width: 250px;
    margin: auto;
    margin-top: 3%;
}
.info-item
{
    font-size: 15px;
    letter-spacing: 3px;
    color: white;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1}
  }

@keyframes fadeout
{
    from {opacity: 1;}
    to {opacity: 0;}
}

/* these two animation classes had to be seperated bc otherwise i cant do the blinking effect*/
.fadeout
{
    animation-name: fadeout;
    animation-duration: 0.5s;
}

.fadein
{
    animation-name: fadein;
    animation-duration: 0.5s;
}


.circle
{
    width: 60%;
    height: 60%;
    border: 3px solid black;
    border-radius: 50%;
    margin-left: 15%;
    margin-top: 15%;
}

.cross {
    position: relative;
    height: 80%; 
    width: 80%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    margin-top: 10%;
}

.cross::before,
.cross::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px; 
    background-color: black;
}

.cross::before {
    transform: rotate(45deg);
}

.cross::after {
    transform: rotate(-45deg);
}